* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen{
  height: 4rem;
  margin-bottom: 4rem;
}

.wrapper {
  background-color: white;
  width: 20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
}